* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color:#383838 ;
}

body {
    background-color: white;
}

header {
    display: flex;
    justify-content:end; 
    align-items:center;
    flex-direction: column;
    margin-bottom: 0px;
    background-image: url("img/cvpaulafondo.jpg");
    background-size:cover;
    height: 70vh;
}

header img {
    margin-top:0px;
}

h1{
    color: #80217E;
    font-size: 35px;
    font-weight: 700;
    width: 100%;
    left: 0px;
    top: 188px;
    text-align: center;
    letter-spacing: 12px;
    word-spacing: 20px;
    margin-top: -3.5em;
}



main {
    background-color: white;
    padding:104px 225px 50px 225px;
}

section{
    margin: 1em;
    padding-top: 1em;
}
#contenedor{
    display: flex;
    justify-content: space-around;
}

li{
    padding-top: 0.3em;
}

h2 {
    color:#80217E;
    padding-bottom: 1em;
}

#curiosidades h2 {
    color:#383838;
    padding-bottom: 1em;
}

#curiosidades{
    display: flex;
    justify-content:center;
    align-items: center;
}

.datos_ul {
    padding-left: 3em;
}


#curiosidades span{
    font-style:normal;
    font-weight:normal;
}

ul li {
    list-style: none;
    padding: 5px;
}

.li_negrita {
    font-weight: bold;
}
.li_none{
    font-style:normal;
    font-weight:normal;
}

.boton__paulalandia {
    background-color:white;
    color:#80217E;
    font-size: 18px;
    display: block;
    width: 280px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    
}

#paulalandia a {
    text-decoration: none;
}

#paulalandia {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #383838;
    color:white;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

footer span {
    align-items: center;
    padding-right: 2em;
    color: white;
}

footer i {
    padding-left: 2em;
    color: white;
    font-size: 1.5em;
}